<html>
<head>
  <title>Alerta fuego</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/leaflet.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/alertafuego.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/distance.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/osb.css') }}">
  <script type=text/javascript src="{{url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/leaflet.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/KML.js') }}"></script>
</head>
<body>
  <div id="map"></div>
</body>
<script type=text/javascript src="{{url_for('static', filename='js/alertafuego.js') }}"></script>
</html>
